.wrapper {

  height: 100%;
  padding: 12px 24px;
  background-color: #fff;
  position: relative;


}
.ctg {
  height: calc(100vh - 64px - 96px);


}

.buttons {
  padding-top: 24px;
  text-align: right;


}
button {
  margin-left: 12px;
}
.title {
  color: #666;
  font-size: 14px;


}
.value {
  margin-right: 12px;
  color: #333;
}

