.app {
  text-align: center;
}

.app-wrapper {
  height: 100vh;
  overflow: hidden;
}

.app-header {
  padding: 0 12px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  font-size: 14px;
}

.app-sider {
  background-color: #FFF;
}

.app-content {
  padding: 12px 0 0 12px;
}

.react-pdf__Page {
  display: inline-block;
}



.react-pdf__Document {
  display: inline-block;
}

.react-pdf__Page__canvas {
  display: inline-block !important;
}